:root {
  --color-dark-black: #000000;
  --color-light-black: #101010;
  --color-dark-blue: #006b77;
  --color-light-blue: #acc1cc;
  --color-dark-gray: #555555;
  --color-light-gray: #afafaf;
  --color-magenta: #ed145b;
  --color-white: #f5f5f5;

  --font-size-button-contact: 1.875rem; /* 30px */
  --font-size-button-scroll-down: 0.75rem; /* 12px */
  --font-size-key: 1rem; /* 16px */
  --font-size-lists: 1.25rem; /* 20px */
  --font-size-paragraph: 1.25rem; /* 20px */
  --font-size-title: 5rem; /* 80px */
  --font-size-title-accordion: 1.5625rem; /* 25px */
  --font-size-sublist: 1.125rem; /* 18px */
  --font-size-subtitles: 5rem; /* 80px */
}

body,
* {
  background-color: var(--color-dark-black);
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-blackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-boldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-lightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-mediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../src/assets/fonts/roboto/roboto-thinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-XLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../src/assets/fonts/gotham/GothamHTF-Ultra.otf") format("opentype");
  font-weight: 950;
  font-style: normal;
}
